body, body * {
    font-family: 'Montserrat', sans-serif;
    color: #494949;
    
}

/*body {
    background-color: #40a63d1a;
}*/

/* Write all your CSS here! */

.flower-img{
    height: 300px;
    width: 500px;
    margin-top: -160px;
}
header{
    height: 70px;
}

h2{
    color: red;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-size: 2em;
}
.flags{
    display: flex;
    position: relative;
    left: 1200px;
    bottom: 60px;
}
.flag{
    letter-spacing: 6px;
}
.nav-item active{
    display: flex;
    align-items: right;
}
.navbar-light .navbar-nav .nav-link.disabled{
    color: #615652;
}
.navbar-nav{
    text-align: right;
}
.bg-light {
    background-color: #494949 !important;
}
body {
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
}
.navbar-light .navbar-nav .nav-link.disabled {
    color: white;
}
.collapse #navbarNav{
    text-align: right;
}
.main-div
{
    align-items: center;
    margin: 0px;
}
button{
    background-color: #2da745;
    color: white;
    font-size: 20px;
    border: none;
    font-family: sans-serif;
}
.fas{
    background-color: greenyellow;
}